<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Webscraper in Python using Flask</title>
 </head>
 <style>
   
 table#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table#customers td, table#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

table#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
th, td {
  padding: 15px;
}

    </style>
 
 <body>
  <table id="customers">
    <thead>
      <tr>
        <th>Car</th>
        <th>price</th>
        <th>Launch Date</th>
        <th>images </th>
        

      </tr>
    </thead>
    <tbody>

   {% for car_info in data %}
   <tr>
     <td> {{ car_info['name'] }} </td>
     <td> {{ car_info['price'] }} </td>
     <td> {{ car_info['year'] }} </td>
     <td>{{ car_info['image'] }}</td>
     
     
   </tr>
   {% endfor %}

    </tbody>
  </table>
  <br>
  <br>
<p>{{ output }}</p>
  
</html>